# 리스트(LIST)

- 여러 개의 데이터를 묶어서 처리
- 대괄호를 사용해서 열고 닫는다. [ ]
- 각 항목의 데이터 타입은 같지 않아도 된다.
- 데이터는 콤마(,)로 구분
- 빈 리스트 : [ ]

- 특정 위치에 있는 값 선택
  - list[위치]
  - 위치는 0부터 시작
  - -1 : 가장 마지막의 리스트 값 반환

- 특정 위치에 있는 값 할당
  - list[위치] = 새로운 값

- 더하기(+) 연산 : 두 리스트를 연결
- 곱하기(*) 연산 : 리스트 반복

- 리스트 중 일부 항목 가져오기
  - list4[시작 : 끝 : 간격]
  - 예 : list4[0:8:2]
  - '시작'값은 포함(이상), '끝' 미포함(미만)
  - '간격' : 기본은 1
  - 시작, 끝, 간격 값 생략 가능
  
 
 - 리스트 항목 삭제  ----------------- 값의 '위치'를 알 때
  - del list[5]
  - del list[삭제할 값]
 - 포함여부 체크
   - 5 in list4
   - 값 in 리스트이름
   
 
 - append() : 제일 마지막에 하나 추가
 - insert() : 특정 위치에 추가
 - extend() : 제일 마지막에 여러개 추가
 - remove() : 첫번째로 일치하는 항목 삭제
 - pop() : 마지막 값 출력, 삭제
 - index() : 첫번쨰로 일치하는 항목의 위치(인덱스)
 - count() : 항목의 개수
 - sort() : 순방향 정렬
 - reverse() : 역방향 정렬

In [4]:
student1 = [90, 80, 85, 95, 100]

In [5]:
print(student1)

[90, 80, 85, 95, 100]

In [6]:
student1[2]

85

In [7]:
student1[-1]   #리스트의 마지막 값 가져오고 싶으면 [-1]하면 된다.

100

In [8]:
student1[2] = 100   # 85점을 100점으로 바꾼다.

In [9]:
print(student1)

[90, 80, 100, 95, 100]

In [11]:
myfriends= ['영희','철수','영수','순희']

In [12]:
myfriends[-1]

'순희'

In [14]:
list1 = ['영희','철수','영수','순희',90, 80, 100, 95, 100  ]

In [15]:
list1[5]

80

In [16]:
list1 + student1

['영희', '철수', '영수', '순희', 90, 80, 100, 95, 100, 90, 80, 100, 95, 100]

In [17]:
list2 = [1,2,3,4]
list3 = [5,6,7,8]

list2 + list3

[1, 2, 3, 4, 5, 6, 7, 8]

In [18]:
list2 * 3

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [19]:
list4 = [0,1,2,3,4,5,6,7,8,9]

In [22]:
#list4[시작:끝 : 간격]  = 시작은 '이상'의 개념이고, 끝은 '미만'의 개념이다.
#간격은 1로 지정되어 있다. 
list4[2:5:2]

[2, 4]

In [26]:
list4[3:10:3]

[3, 6, 9]

In [31]:
list4[:3] # 처음부터 3개를 가져와요~

[0, 1, 2]

In [30]:
list4[::2]# 두칸씩 띄어서 가져와

[0, 2, 4, 6, 8]

In [32]:
print(list4)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [33]:
del(list4[5])

In [34]:
print(list4)

[0, 1, 2, 3, 4, 6, 7, 8, 9]

In [35]:
list4[5]

6

In [36]:
2 in list4

True

In [38]:
del(list4[8])

In [39]:
print(list4)

[0, 1, 2, 3, 4, 6, 7, 8]

In [40]:
list4.append(10)

In [41]:
list4

[0, 1, 2, 3, 4, 6, 7, 8, 10]

In [42]:
list4.insert(5,'다섯') # 5번쨰 위치에, '다섯'을 추가하겠다.

In [43]:
list4

[0, 1, 2, 3, 4, '다섯', 6, 7, 8, 10]

In [44]:
list4.extend([11,12])

In [45]:
list4

[0, 1, 2, 3, 4, '다섯', 6, 7, 8, 10, 11, 12]

In [46]:
list4.extend([3,4,5,6,7])

In [47]:
list4

[0, 1, 2, 3, 4, '다섯', 6, 7, 8, 10, 11, 12, 3, 4, 5, 6, 7]

In [48]:
list4.remove(3)   #리스트 내에 있는 '3'을 지우고 싶다. ('3')이 어디있는지는 몰를떼
# 하지만 첫번쨰에 있는 3만 지워진다.
# del은 '3'의 위치!!를 알때 사용하는 것

In [49]:
list4

[0, 1, 2, 4, '다섯', 6, 7, 8, 10, 11, 12, 3, 4, 5, 6, 7]

In [50]:
list4.pop() #리스트 내에서 마지막 값이 나온다.

7

In [51]:
list4

[0, 1, 2, 4, '다섯', 6, 7, 8, 10, 11, 12, 3, 4, 5, 6]

In [53]:
list4.index(6)
# 6이 어느 위치에 있나요? => 5번째에 위치하고 있어요. / 첫번째 6 위치만 보여줌

5

In [54]:
list4.count(4)   # 값이 몇개 있는지 찾는 것.. 4는 2개가 있다!

2

In [55]:
list4.count(100)

0

In [57]:
list5 = [3,9,2,1,5,3,6,8,10]
list5

[3, 9, 2, 1, 5, 3, 6, 8, 10]

In [58]:
list5.sort()   # sort는 순서대로 출력해줘~ 라는 명령어

In [59]:
 list5

[1, 2, 3, 3, 5, 6, 8, 9, 10]

In [60]:
list5.reverse() # 큰 순서대로 출력해줘~ 라는 명령어 = reverse

In [61]:
list5

[10, 9, 8, 6, 5, 3, 3, 2, 1]